.main {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

.user-list {
    background: #fff;
    margin: 10px auto;
}

.title-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* border: 1px solid #cecece; */
    -webkit-box-shadow: 1px 1px 10px 0px #c5c5c5;
    -moz-box-shadow: 1px 1px 10px 0px #c5c5c5;
    box-shadow: 1px 1px 10px 0px #c5c5c5;
    /* padding: 5px 15px; */
}

.title-info h3 {
    margin: 15px;
    font-size: 18px;
}

.search input {
    height: 30px;
    width: 200px;
}

.title {
    font-weight: 500;
    color: #6f6f6f;
}

/* Menu Panel */

.menu-panel {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.btn-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-add--user {
    background: #fab43d;
    border-radius:4px;
    height: 36px;
    width: 200px;
    border: none;
    color: #fff;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    outline: 0;
}